<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/810a41d0-88da-4b03-bcfa-20acaa9d4cb7/resourceGroups/resource1/providers/Microsoft.Web/sites/FinalTest123</ResourceId>
    <ResourceGroup>resource1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://finaltest123.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://finaltest123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$FinalTest123</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>