@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Final.Models.Movie
    <h1>Fill out Form</h1>

    <form method="post">
        <div>
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
            <br />
            <br />
            <label asp-for="Category">Category</label>
            <input asp-for="Category" />
            <br />
            <br />
            <label asp-for="Year">Year</label>
            <input asp-for="Year" />
            <br />
            <br />
            <label asp-for="Director">Director</label>
            <input asp-for="Director" />
            <br />
            <br />
            <label asp-for="Rating">Rating</label>
            <input asp-for="Rating" />
            <br />
            <br />
            <label asp-for="Edited">Edited</label>
            <input asp-for="Edited" />
            <br />
            <br />
            <label asp-for="LentTo">LentTo</label>
            <input asp-for="LentTo" />
            <br />
            <br />
            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" />
            <br />
            <br />
            <br />
            <button type="submit">Submit</button>
        </div>
    </form>
